

*{
   margin:0;
   padding: 0;
   box-sizing: border-box ;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 5rem;
}

.card{
   display: flex;
   flex-direction: column;
   height: 30rem;
   width: 20rem;
   border: 1px solid black;
   border-radius: 1rem;
}
/*section1---------------*/

.header{
      height: 10%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      background-color: gray;
  
  
}
.ball{
  justify-content: flex-start;
   background-color: white;
   width:3rem;
   height: 3rem;
   border-radius: 50%; 

}

.name-date{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.name{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: max-content;
   height: max-content;
   gap:0;
}

.date{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: max-content;
   height: max-content;
   color: white;
   gap:0;
}

.uil-ellipsis-h{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}



/*section-2---------*/

.main{
   display:flex;
   height: 50%;
   width: 100%;
   border: 1px solid red;
   object-fit:cover;
   
}
img{
   height: 15rem;
   width: 100%;
   background-size: contain;
   
}

/*section-3-----*/


.footer{
   display:flex;
   height: 40%;
   width: 100%;
   border: 1px solid yellow;
  background-color:rgb(224, 201, 201);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.reaction{
   padding: 0.5rem;
   font-size: 1.6rem;
   height: max-content;
   width: max-content;

}
span{
   font-weight: bold;
}
.text{
   font-size: 1.2rem;
}




    
@media screen and (max-width: 768px) {
   
   .container{
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: black;

}

}

@media screen and (max-width: 375px){
    
   .container{
       flex-direction: column;
       justify-content: center;
       background-color: red;
   }
   
   }
