body{
    display: flex;
    flex-direction: row;
}

#yellow{
    display: flex;
    flex-direction: column;
    order:1;
    align-items: left;
}
#green{
    display: flex;
    flex-direction: column;
    order:3;
}
#red{
    display: flex;
    flex-direction: column;
    order:2;
}
#orange{
    display: flex;
    flex-direction: column;
    flex-grow:2;
    order:4;
}
#blue{
    display: flex;
    flex-direction: column;
    order:5;
}
